body {
    background-color: rgb(10, 11, 22);
    margin: 0;
    height: 100%;
}

.content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
